{% extends '/etudiant/layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block res_body %}
<div class="x_panel">
    <h2>Enregistrer un chambre  </h2>
    <div class="x_title">

        {{ form_start(form) }}
        {{ form_row(form.numero, {'attr': {'placeholder': 'Le numero sera generee automatiquement '}}) }}
        {{ form_row(form.numeroBatiment, {'attr': {'placeholder': 'Numero Du Batiment'}}) }}
        {{ form_row(form.type, {'attr': {'placeholder': 'Deux ou Individuel'}}) }}
       <button type="submit" class="btn btn-success">
                Enregistrer
            </button>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

