{% extends '/etudiant/layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block res_body %}
<div class="x_panel">
    <h2>Enregistrer un etudiant  </h2>
    <div class="x_title">

   <div class="form-horizontal form-label-left input_mask">
       {{ form_start(form) }}
        {{ form_row(form.nom, {'attr': {'placeholder': 'Nom'}}) }}
        {{ form_row(form.prenom, {'attr':{'placeholder': 'Prenom'}}) }}
        {{ form_row(form.email, {'attr': {'placeholder': 'Email'}}) }}
        {{ form_row(form.tel, {'attr': {'placeholder': 'Telephone'}}) }}
        {{ form_row(form.DateDeNaissance, {'attr': {'placeholder': 'Date De Naissance'}}) }}
        {{ form_row(form.bourse, {'attr': {'placeholder': 'Bourse'}}) }}
      <div id="cha">
        {{ form_row(form.chambre) }}
      </div>
            <button type="submit" class="btn btn-success">
                Enregistrer
            </button>
            {{ form_end(form) }}
   </div>

    </div>
</div>
        {% endblock %}
