{% extends '/etudiant/layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block res_body %}

	<h2>Enregistrer un etudiant
	</h2>

	{{ form_start(form) }}
	{{ form_row(form.nom, {'attr': {'placeholder': 'Nom'}}) }}
	{{ form_row(form.prenom, {'attr':{'placeholder': 'Prenom'}}) }}
	{{ form_row(form.email, {'attr': {'placeholder': 'Email'}}) }}
	{{ form_row(form.tel, {'attr': {'placeholder': 'Telephone'}}) }}
	{{ form_row(form.DateDeNaissance, {'attr': {'placeholder': 'Date De Naissance'}}) }}
	{{ form_row(form.bourse, {'attr': {'placeholder': 'Bourse'}}) }}
	<div id="etudiant_chambre"></div> <br> 
	<button type="submit" class="btn btn-success" id="envoi">
		Enregistrer
	</button>
	{{ form_end(form) }}
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script>
		$(document).ready(function () {

		$('#etudiant_bourse').focusout(function () {
		generate();
		});
		function generate() {
		var bourse = $("#etudiant_bourse").val();
		if (bourse == 'oui') {
		generateChambre();
		} else if (bourse == 'non') {
		generateAdresse();
		}
		}
		function generateChambre() {
			$('#etudiant_chambre').html('<input type="text" placeholder="Chambre" required>');
			$('#etudiant_chambre').show();
		}

		function generateAdresse() {
			$('#etudiant_chambre').html('<input type="text" placeholder="Adresse" required>');
			$('#etudiant_chambre').show();
		}
})
	</script>
{% endblock %}
